<form
  class="example-form"
  (ngSubmit)="onSubmit()"
  [formGroup]="userAddressValidations"
>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" formControlName="firstName" />
    
    
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" />
    
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" />
    
  </mat-form-field>

  <!-- <button mat-raised-button color="warn">
    <span>Save</span>
  </button> -->
</form>
